body{
    background: gray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.container{
    background-color: white;
    height: 395px;
    width: 400px;
    border-radius: 10px;
    margin-left: 100px;
    margin-top: 200px;
    
}
h1{
    background: green;
    color: white;
    width: auto;
    text-align: center;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
p{
    padding-left: 20px;
    margin-top: 10px;
    font-size: 17px;
    margin-bottom: 9px;
    
}
.first{
    padding-left: 20px;
}
#utmeScore{
    margin-left: 20px;
    margin-top: 0%;
}
#calcBtn{
    margin-left: 130px;
    margin-top: 5px;
}
#result{
    margin-top: 0px;
    margin-left: 0px;
    width: 230PX;
    color: green;
}
.sittingsContainer{
    display: flex;
    margin-top: 9px;
}
#sitting{
    margin-left: 10px;
    height: 20px;
    margin-top: 15px;
}
.alone{
    margin-top: 30px;
}
@media(max-width: 360){
    .container{
        width: 200px;
        margin-left: 0px
    }

}










